@model KnerdyKnitter.Models.Garment


@using (Html.BeginForm())
{
    <label asp-for="ColDim">Number of Stitches</label>
    @Html.TextBoxFor(model => model.ColDim, new { @Value = Model.ColDim })
    <label asp-for="RowDim">Number of Rows</label>
    @Html.TextBoxFor(model => model.RowDim)
    <label asp-for="Rule">Rule: </label>
    @Html.TextBoxFor(model => model.Rule)
    @Html.HiddenFor(model => model.KnitterId)
    <label>1st Color: </label>
    <input type="color" name="primary">
    <label>2nd Color: </label>
    <input type="color" name="secondary">

    <input type="submit" name="editBtn" value="Try" />
    <input type="submit" name="editBtn" value="Save changes" />
}

@{ int xCoor = 0;
    int yCoor = 0;}
<script src="https://code.jquery.com/jquery-3.1.1.js"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous"></script>
<script src="~/js/d3.min.js" type="text/javascript"></script>

<svg class="scarf" width="1000" height="1000">
    @foreach (var row in Model.Creation)
    {
        @foreach (var cell in row)
        {
            @if (cell == true)
            {
                <rect id="r-@xCoor@yCoor" x="@xCoor" y="@yCoor" width="10" height="10" style="fill:@Model.Colors[0].Hex;stroke-width:1;stroke:black;" />
            }
            @if (cell == false)
            {
                <rect id="r-@xCoor@yCoor" x="@xCoor" y="@yCoor" width="10" height="10" style="fill:@Model.Colors[1].Hex;stroke-width:1;stroke:black;" />
            }
            @(xCoor = xCoor + 10)
        }
        @(yCoor = yCoor + 10)
        @(xCoor = 0)
    }
</svg>

<form asp-action="Delete" asp-controller="Garment" method="post">
    <input type="hidden" value="@Model.Id" name="garmentId"/>
    <button type="submit">Delete Garment</button>
</form>

<script>
    $(document).ready(function () {
        for (var j = 0; j < 1000; j = j + 10) {
            for (var i = 0; i < 120; i = i + 10) {
                var clickID = "#r-" + i + j;
                $(clickID).click(function (event) {
                    var currentId = "#" + $(this).attr('id');
                    var color = $(currentId).css('fill');



                    // Fix Hex conversion
                    console.log(color);
                    var secondary = "@(Model.Colors[1].Hex)";
                    if(color === secondary) {
                    console.log("click");
                        $(currentId).css({fill: "@(Model.Colors[0].Hex)"});
                    }
                    @*else{
                        $(currentId).css({fill: "@Model.Colors[0].Hex";});}*@
                });
            }                
    }



        $("#button").click(function () {
            d3.selectAll(".scarf")
                .append("svg")
                .attr("width", 50)
                .attr("height", 50)
                .append("circle")
                .attr("cx", 25)
                .attr("cy", 25)
                .attr("r", 25)
                .style("fill", "purple");
        });
    });
</script>
