
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model KnerdyKnitter.Models.Garment

<div id="changesSaved">Your changes were saved.</div>
<label asp-for="Rule">Rule: </label>
<form id="editForm">
    <label for="colDim">Number of Stitches</label>
    <input type="text" value="@Model.ColDim" name="colDim" id="colDim">
    <label for="rowDim">Number of Rows</label>
    <input type="text" value="@Model.RowDim" name="rowDim" id="rowDim">
    <label for="chosenRule">Rule: </label>
    <input type="text" value="@Model.Rule" name="chosenRule" id="chosenRule" onchange="changeRule()">
    <input type="hidden" value="@Model.Id" name="garmentId" id="garmentId">
    <label>1st Color: </label>
    <input type="color" onchange="changePrimary(this.value)" value="@Model.Colors[0].Hex" name="primary" id="primaryColor">
    <label>2nd Color: </label>
    <input type="color" onchange="changeSecondary(this.value)" value="@Model.Colors[1].Hex" name="secondary" id="secondaryColor">
    <input type="submit" id="try" value="Try" />
    <input type="submit" id="saveChanges" value="Save changes" />
</form>

@{ int xCoor = 0;
    int yCoor = 0;
    var svgWidth = Model.ColDim * 10;
    var svgHeight = Model.RowDim * 10; }
<svg id="scarf" width="@(svgWidth)" height="@(svgHeight)">
    @for (var i = 0; i<Model.Creation.Length; i++)
    {
        @foreach (var cell in Model.Creation[i])
        {
            string alterColor=null;
            @foreach (var alter in Model.Alters)
            {
                if (alter.XCor == xCoor && alter.YCor == yCoor)
                {
                    alterColor = alter.Color;
                }
            }
            @if(alterColor != null)
            {
                @if(cell == true)
                {
                    <rect class="cell" id="r@xCoor-@yCoor" x="@xCoor" y="@yCoor" width="10" height="10" style="fill:@alterColor;stroke-width:1;stroke:black;" />
                }
                @if (cell == false )
                {
                    <rect class="secondaryColor cell" id="r@(xCoor)-@yCoor" x="@xCoor" y="@yCoor" width="10" height="10" style="fill:@alterColor;stroke-width:1;stroke:black;" />
                }
            }
            else
            {
                @if (cell == true)
                {
                    <rect class="secondaryColor cell" id="r@(xCoor)-@yCoor" x="@xCoor" y="@yCoor" width="10" height="10" style="stroke-width:1;stroke:black;" />
                }
                @if (cell == false)
                {
                    <rect class="primaryColor cell" id="r@(xCoor)-@yCoor" x="@xCoor" y="@yCoor" width="10" height="10" style="stroke-width:1;stroke:black;" />
                }
            }
            @(xCoor = xCoor + 10)
        }
        @(yCoor = yCoor + 10)
        @(xCoor = 0)
    }
</svg>

<form asp-action="Delete" asp-controller="Garment" method="post">
    <input type="hidden" value="@Model.Id" name="garmentId"/>
    <button type="submit">Delete Garment</button>
</form>

<script>
    var allAlters = [];

    function changePrimary(color) {
        $(".primaryColor").css("fill", color);
        $(".primaryColor").unbind("click");
        $(".secondaryColor").unbind("click");
        for (var j = 0; j < 1000; j = j + 10) {
            for (var i = 0; i < 120; i = i + 10) {
                var clickID = "#r" + i + "-" + j;
                $(clickID).click(function (event) {
                    var currentId = "#" + $(this).attr('id');
                    var currentColor = $(currentId).css('fill');
                    var secondary = $("#secondaryColor").val();
                    var colorAsHex = rgbToHex(currentColor);
                    var primary = $("#primaryColor").val();

                    if (colorAsHex === primary) {
                        $(currentId).css("fill", secondary);
                        $(currentId).removeClass("primaryColor");
                        $(currentId).addClass("secondaryColor");
                        addAlter(currentId);
                    }
                    else {
                        $(currentId).css("fill", primary);
                        $(currentId).removeClass("secondaryColor");
                        $(currentId).addClass("primaryColor");
                        addAlter(currentId);
                    }
                });
            }
        }
    }
        function changeSecondary(color) {
            $(".secondaryColor").css("fill", color);
            $(".primaryColor").unbind("click");

            $(".secondaryColor").unbind("click");
            for (var j = 0; j < 1000; j = j + 10) {
                for (var i = 0; i < 120; i = i + 10) {
                    var clickID = "#r" + i + "-" + j;
                    $(clickID).click(function (event) {
                        var currentId = "#" + $(this).attr('id');
                        var currentColor = $(currentId).css('fill');
                        var colorAsHex = rgbToHex(currentColor);
                        var primary = $("#primaryColor").val();

                        var secondary = $("#secondaryColor").val();
                        if (colorAsHex === secondary) {
                            $(currentId).css("fill", primary);
                            $(currentId).removeClass("secondaryColor");
                            $(currentId).addClass("primaryColor");
                            addAlter(currentId);
                        }
                        else {
                            $(currentId).css("fill", secondary);
                            $(currentId).removeClass("primaryColor");
                            $(currentId).addClass("secondaryColor");
                            addAlter(currentId);
                        }
                    });
                }
            }
        }

        function changeRule() {
            console.log("changed");
            var model = {
                chosenRule: $("#chosenRule").val(),
                colDim: $("#colDim").val(),
                rowDim: $("#rowDim").val()
            }
            $.ajax({
                type: 'GET',
                data: model,
                url: '@Url.Action("ChangeRule")',
                success: function (result) {
                    console.log("ajax");
                    if (result != null) {
                        console.log(result);
                        d3.select('#chosenRule').attr('value', result.Rule);
                        d3.select("#scarf").html("");
                        var row = 0;
                        var col = 0;
                        for (var y = 0; y < result.rowDim; y ++) {
                            for (var x = 0; x < result.colDim; x++) {
                                row = y * 10;
                                col = x * 10;
                                d3.select("#scarf")
                                    .append("rect")
                                    .attr("class", "cell")
                                    .attr("id", "r" + col + "-" + row)
                                    .attr("x", col)
                                    .attr("y", row)
                                    .attr("width", 10)
                                    .attr("height", 10);
                                if (result.creation[y][x] === true) {
                                    console.log(result.creation[y][x]);
                                    d3.select("#r" + col + "-" + row)
                                        .attr("class", "primaryColor");
                                }
                                else {
                                    console.log(result.creation[y][x]);

                                    d3.select("#r" + col + "-" + row)
                                        .attr("class", "secondaryColor");
                                }
                                var clickID = "#r" + col + "-" + row;
                                $(clickID).click(function (event) {
                                    var currentId = "#" + $(this).attr('id');
                                    var color = $(currentId).css('fill');
                                    colorAsHex = rgbToHex(color);
                                    var secondary = $("#secondaryColor").val();
                                    var primary = $("#primaryColor").val();
                                    if (colorAsHex === secondary) {
                                        $(currentId).css("fill", primary);
                                        $(currentId).removeClass("secondaryColor");
                                        $(currentId).addClass("primaryColor");
                                        addAlter(currentId);
                                    }
                                    else {
                                        $(currentId).css("fill", secondary);
                                        $(currentId).removeClass("primaryColor");
                                        $(currentId).addClass("secondaryColor");
                                        addAlter(currentId);
                                    }
                                });
                            }
                        }
                        $(".primaryColor").css("fill", "@(Model.Colors[0].Hex)");
                        $(".secondaryColor").css("fill", "@(Model.Colors[1].Hex)");
                    }
                }
            });
        }

    $(document).ready(function () {
        $(".primaryColor").css("fill", "@(Model.Colors[0].Hex)");
        $(".secondaryColor").css("fill", "@(Model.Colors[1].Hex)");
        for (var j = 0; j < 1000; j = j + 10) {
            for (var i = 0; i < 120; i = i + 10) {
                var clickID = "#r" + i +"-"+ j;
                $(clickID).click(function (event) {
                    var currentId = "#" + $(this).attr('id');
                    var color = $(currentId).css('fill');
                    colorAsHex = rgbToHex(color);
                    var secondary = $("#secondaryColor").val();
                    var primary = $("#primaryColor").val();
                    if (colorAsHex === secondary) {
                        $(currentId).css("fill", primary);
                        $(currentId).removeClass("secondaryColor");
                        $(currentId).addClass("primaryColor");
                        addAlter(currentId);
                    }
                    else{
                        $(currentId).css("fill", secondary);
                        $(currentId).removeClass("primaryColor");
                        $(currentId).addClass("secondaryColor");
                        addAlter(currentId);
                    }
                });
            }
        }
        $("#try").click(function () {
            $(this).attr("name", "btnClicked");
        });
        $("#saveChanges").click(function () {
            $(this).attr("name", "btnClicked");
        });

  
        $("#editForm").submit(function (event) {
            event.preventDefault();
            var model = {
                allAlters: getAlters(),
                chosenRule: $("#chosenRule").val(),
                colDim: $("#colDim").val(),
                rowDim: $("#rowDim").val(),
                garmentId: $("#garmentId").val(),
                primary: $("#primaryColor").val(),
                secondary: $("#secondaryColor").val(),
                editBtn: $("input[name=btnClicked]").val()
            }
            $.ajax({
                type: 'POST',
                data: model,
                url: '@Url.Action("Edit")',
                success: function (result) {
                    $('#changesSaved').fadeIn('slow').delay(3000).fadeOut('slow');
                    if (result != null) {
                        console.log(result);
                        d3.select('#garmentId').attr('value', result);
                    }
                        //for (var y = 0; y < result.creation.length; y += 10) {
                        //    for (var x = 0; x < result.creation[y].length; x += 10) {
                        //        d3.select("#scarf")
                        //            .append("rect")
                        //            .attr("class", "cell")
                        //            .attr("id", "r" + x + "-" + y)
                        //            .attr("x", x)
                        //            .attr("y", y)
                        //            .attr("width", 10)
                        //            .attr("height", 10);
                        //        if (result.creation[y][x] === true) {
                        //            d3.selectAll("#r" + x + "-" + y)
                        //                .attr("class", "secondaryColor");
                        //        }
                        //        if (result.creation[y][x] === false) {
                        //            d3.selectAll("#r" + x + "-" + y)
                        //                .attr("class", "primaryColor");
                        //        }
                        //    }
                        //}
                    }
                
            });
        });

    });
        function breakRgb(color) {
            var pattern = /\d+/g;
            var colorArr = color.match(pattern);
            return colorArr;
        }
        function intToHex(c) {
            var hex = parseInt(c).toString(16);
            return hex.length == 1 ? "0" + hex : hex;
        }

        function rgbToHex(color) {
            var colorArr = breakRgb(color);
            return "#" + intToHex(colorArr[0]) + intToHex(colorArr[1]) + intToHex(colorArr[2]);
        }

        function addAlter(id) {
            var alter = [];
            alter[0] = rgbToHex($(id).css('fill'));
            alter[1]=(id);
            allAlters.push(alter);
            console.log(alter[0]);
            console.log(alter[1]);

        }
        function getAlters() {
            console.log(allAlters[0][0]);
            return allAlters;
        }

</script>
